<!DOCTYPE html>
<!-- =======================================================================
     list.html
     
     Copyright 2016 Mac Radigan
     All Rights Reserved
     ======================================================================= -->
<html>
  <head>
      <title>{{title}}</title>
  </head>
  <body>
    <ul>
      <li>criteria #1 [<a href="/view">view</a>][<a href="{{editor}}">edit</a>]</li>
      <li>criteria #2 [<a href="/view">view</a>][<a href="{{editor}}">edit</a>]</li>
      <li>...</li>
      <li>criteria #N [<a href="/view">view</a>][<a href="{{editor}}">edit</a>]</li>
    </ul>
  </body>
</html>
<!-- *EOF* -->
